<template>
    <v-app>
        <v-row
            align="center"
            justify="space-around"
        >
            <v-btn depressed>
                Normal
            </v-btn>
            <v-btn
                depressed
                color="primary"
            >
                Primary
            </v-btn>
            <v-btn
                depressed
                color="error"
            >
                Error
            </v-btn>
            <v-btn
                depressed
                disabled
            >
                Disabled
            </v-btn>
        </v-row>
    </v-app>

</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
